<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/themes.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>挪威的森林</title>
</head>
<style media="screen">
  body {
    background: url(/media/bg.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #CCCCCC;
  }

  a:hover {
    text-decoration: none;
  }
</style>

<body>
  <header class="bg-dark">
    <nav class="container navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="/">花若盛開 蝴蝶自來</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/article/">All Post</a>
          </li>


        </ul>

      </div>
    </nav>
  </header>

  <main class="container">
    <div class="row mt-2">
      <article class="col-sm-12 col-md-8">

        <div class="site-posts-list mt-4">


          <div class="jumbotron w-100 py-5 mx-auto">
            <h1 class="text-center"> 挪威的森林</h1>
            <br>
            <hr>

            <p class="lead text-center">
              让我将你心儿摘下
              <br>
              试着将它慢慢溶化
              <br>
              看我在你心中是否仍完美无暇
              <br>
              是否依然为我丝丝牵挂
              <br>
              依然爱我无法自拔
              <br>
              心中是否有我未曾到过的地方啊
              <br>
              那里湖面总是澄清
              <br>
              那里空气充满宁静
              <br>
              雪白明月照在大地
              <br>
              藏着你不愿提起的回忆
              <br>
              你说真心总是可以从头
              <br>
              真爱总是可以长久
              <br>
              为何你的眼神还有孤独时的落寞
              <br>
              是否我只是你一种寄託
              <br>
              填满你感情的缺口
              <br>
              心中那片森林何时能让我停留
              <br>
              那里湖面总是澄清
              <br>
              那里空气充满宁静
              <br>
              雪白明月照在大地
              <br>
              藏着你最深处的秘密
              <br>
              或许我 不该问
              <br>
              让你平静的心再起涟漪
              <br>
              只是爱你的心超出了界限
              <br>
              我想拥有你所有一切
              <br>
              应该是 我不该问
              <br>
              不该让你再将往事重提
              <br>
              只是心中枷锁该如何才能解脱
              <br>
              <br>
              <br>
              让我将你心儿摘下
              <br>
              试着将它慢慢溶化
              <br>
              看我在你心中是否仍完美无暇
              <br>
              是否依然为我丝丝牵挂
              <br>
              依然爱我无法自拔
              <br>
              心中是否有我未曾到过的地方啊
              <br>
              那里湖面总是澄清
              <br>
              那里空气充满宁静
              <br>
              雪白明月照在大地
              <br>
              藏着你最深处的秘密
              <br>

              <br>
              或许我 不该问
              <br>
              让你平静的心再起涟漪
              <br>
              只是爱你的心超出了界限
              <br>
              我想拥有你所有一切
              <br>
              应该是 我不该问
              <br>
              不该让你再将往事重提
              <br>
              只是心中枷锁该如何才能解脱
              <br>
              或许我 不该问
              <br>
              让你平静的心再起涟漪
              <br>
              只是爱你的心超出了界限
              <br>
              我想拥有你所有一切
              <br>
              应该是 我不该问
              <br>
              不该让你再将往事重提
              <br>
              只是心中枷锁该如何才能解脱
        
            </p>
          </div>



        </div>



      </article>
      <aside class="col-sm-12 col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title text-primary">About Me</h5>
            <ul class="list-group">
              <li class="list-group-item list-group-item-action">
                <p class="">Email: yusing-wong@outlook.com </p>

              </li>
              <li class="list-group-item list-group-item-action">
                <a href='https://github.com/sing-gor' target="_blank" class="">GitHub: github.com/sing-gor </a>

              </li>
              <li class="list-group-item list-group-item-action">
                <a href="http://wongyusing.com/" target="_blank" class="">Blog: wongyusing.com </a>

              </li>

            </ul>

          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body ">
            <h5 class="card-title text-primary">Category</h5>
            <div class="list-group w-100">
              <a href="https://elixirschool.com/en/" target="_blank" class="list-group-item list-group-item-action ">Elixir</a>

              <a href="https://docs.python.org/3/" target="_blank" class="list-group-item list-group-item-action">Python</a>
              <a href="https://www.typescriptlang.org/docs/home.html" target="_blank" class="list-group-item list-group-item-action">TypeScript</a>
              <a href="https://www.w3schools.com/js/" target="_blank" class="list-group-item list-group-item-action">JavaScript</a>
              <a href="http://gobook.io/read/github.com/lunny/gopl-zh/" class="list-group-item list-group-item-action ">Go Lang (正在学习)</a>
              <a href="http://lrthw.github.io/" target="_blank" class="list-group-item list-group-item-action ">Ruby</a>
              <a href="https://www.w3schools.com/html/default.asp" target="_blank" class="list-group-item list-group-item-action ">HTML</a>
              <a href="https://www.w3schools.com/css/default.asp" target="_blank" class="list-group-item list-group-item-action ">CSS</a>
              <a href="https://www.w3schools.com/sql/default.asp" target="_blank" class="list-group-item list-group-item-action ">Postgresql</a>



            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title text-primary">Tag Cloud</h5>

            <a href="https://hexdocs.pm/phoenix/Phoenix.html" target="_blank" class="tag-cloud">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-Phoenix"></use>
              </svg>
            </a>
            <a href="https://www.tornadoweb.org/en/stable/" target="_blank" class="tag-cloud">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-tornado"></use>
              </svg>
            </a>
            <a href="https://docs.djangoproject.com/en/2.2/" target="_blank" class="tag-cloud">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-django"></use>
              </svg>
            </a>
            <a href="https://guides.rubyonrails.org/" target="_blank" class="tag-cloud">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-rails-plain"></use>
              </svg>
            </a>
            <a href="https://angular.io/start" target="_blank" class="tag-cloud">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-angular"></use>
              </svg>
            </a>
            <a href="https://v4.bootcss.com/docs/4.0/getting-started/introduction/" target="_blank" class="tag-cloud">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-bootstrap"></use>
              </svg>
            </a>
            <a href="http://lesscss.org" target="_blank" class="tag-cloud">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-less"></use>
              </svg>
            </a>
            <a href="https://sass-lang.com/documentation" target="_blank" class="tag-cloud">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-Sass"></use>
              </svg>
            </a>
            <a href="https://rxjs-dev.firebaseapp.com/" target="_blank" class="tag-cloud">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-rx"></use>
              </svg>
            </a>
            <a href="https://docs.nestjs.com/" target="_blank" class="tag-cloud">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-nest"></use>
              </svg>
            </a>
            <a href="https://www.rabbitmq.com/" target="_blank" class="tag-cloud">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-RabbitMQ"></use>
              </svg>
            </a>






          </div>
        </div>

      </aside>

    </div>
  </main>
  <footer class="mt-4 mb-0 pb-4">
    <div class="container">
      <!-- <div class="row">

      </div> -->
      <p class="text-center mt-4 site-footer-data">Copyright © 2019 Sing. Powered by Django2.0 .</p>
      <p class="text-center mt-4 site-footer-data">Author: yusing-wong@outlook.com</p>
    </div>
  </footer>
  <script src="/static/js/jquery.slim.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/iconfont.js"></script>
</body>

</html>
