{% extends "base.html" %}

{% block page_title %}
  All Posts
{% endblock %}

{% block content %}
<div class="site-posts-list mt-4">
  <h2 class="text-center">All Post</h2>

  <div class="jumbotron w-100 py-5 mx-auto">
    <h2>
      <a href="/article/1/">人来人往</a>
    </h2>
    <p class="lead">
    <p class="lead text-center"> 朋友已走 <br> 刚升职的你举杯到凌晨还未够 <br> 用尽心机拉我手 <br> 缠在我颈背后 <br> 说你男友有事忙是借口 <br> 说到终于饮醉酒 <br> …
    </p>
  </div>

  <div class="jumbotron w-100 py-5 mx-auto">
    <h2>
      <a href="/article/2/">新禅院钟声</a>
    </h2>
    <p class="lead">
    <p class="lead text-center"> 云寒雨冷寂寥夜半景色凄清 <br> 荒山悄静 依稀稳约传来了夜半钟 <br> 钟声惊破梦更难成 <br> 是谁令我愁难磬非莫磬 <br> 情如泡影鸳鸯梦三生约 <br> 何堪追认旧爱一朝断 …
    </p>
  </div>

  <div class="jumbotron w-100 py-5 mx-auto">
    <h2>
      <a href="/article/3/">挪威的森林</a>
    </h2>
    <p class="lead">
    <p class="lead text-center"> 让我将你心儿摘下 <br> 试着将它慢慢溶化 <br> 看我在你心中是否仍完美无暇 <br> 是否依然为我丝丝牵挂 <br> 依然爱我无法自拔 <br> 心中是否有我未曾到过的地方啊 <br> …
    </p>
  </div>
</div>
{% endblock %}
