{% extends "base.html" %}

{% block page_title %}
挪威的森林
{% endblock %}



{% block content %}
<div class="site-posts-list mt-4">


  <div class="jumbotron w-100 py-5 mx-auto">
    <h1 class="text-center"> 挪威的森林</h1>
    <br>
    <hr>

    <p class="lead text-center">
      让我将你心儿摘下
      <br>
      试着将它慢慢溶化
      <br>
      看我在你心中是否仍完美无暇
      <br>
      是否依然为我丝丝牵挂
      <br>
      依然爱我无法自拔
      <br>
      心中是否有我未曾到过的地方啊
      <br>
      那里湖面总是澄清
      <br>
      那里空气充满宁静
      <br>
      雪白明月照在大地
      <br>
      藏着你不愿提起的回忆
      <br>
      你说真心总是可以从头
      <br>
      真爱总是可以长久
      <br>
      为何你的眼神还有孤独时的落寞
      <br>
      是否我只是你一种寄託
      <br>
      填满你感情的缺口
      <br>
      心中那片森林何时能让我停留
      <br>
      那里湖面总是澄清
      <br>
      那里空气充满宁静
      <br>
      雪白明月照在大地
      <br>
      藏着你最深处的秘密
      <br>
      或许我 不该问
      <br>
      让你平静的心再起涟漪
      <br>
      只是爱你的心超出了界限
      <br>
      我想拥有你所有一切
      <br>
      应该是 我不该问
      <br>
      不该让你再将往事重提
      <br>
      只是心中枷锁该如何才能解脱
      <br>
      <br>
      <br>
      让我将你心儿摘下
      <br>
      试着将它慢慢溶化
      <br>
      看我在你心中是否仍完美无暇
      <br>
      是否依然为我丝丝牵挂
      <br>
      依然爱我无法自拔
      <br>
      心中是否有我未曾到过的地方啊
      <br>
      那里湖面总是澄清
      <br>
      那里空气充满宁静
      <br>
      雪白明月照在大地
      <br>
      藏着你最深处的秘密
      <br>

      <br>
      或许我 不该问
      <br>
      让你平静的心再起涟漪
      <br>
      只是爱你的心超出了界限
      <br>
      我想拥有你所有一切
      <br>
      应该是 我不该问
      <br>
      不该让你再将往事重提
      <br>
      只是心中枷锁该如何才能解脱
      <br>
      或许我 不该问
      <br>
      让你平静的心再起涟漪
      <br>
      只是爱你的心超出了界限
      <br>
      我想拥有你所有一切
      <br>
      应该是 我不该问
      <br>
      不该让你再将往事重提
      <br>
      只是心中枷锁该如何才能解脱

    </p>
  </div>



</div>




{% endblock %}
