{% extends "base.html" %}

{% block page_title %}
新禅院钟声
{% endblock %}



{% block content %}
<div class="site-posts-list mt-4">


  <div class="jumbotron w-100 py-5 mx-auto">
    <h1 class="text-center"> 新禅院钟声</h1>
    <br>
    <hr>

    <p class="lead text-center">
      云寒雨冷寂寥夜半景色凄清
      <br>
      荒山悄静 依稀稳约传来了夜半钟
      <br>
      钟声惊破梦更难成
      <br>
      是谁令我愁难磬非莫磬
      <br>
      情如泡影鸳鸯梦三生约
      <br>
      何堪追认旧爱一朝断
      <br>
      伤心哀我负爱抱恨决心逃情
      <br>
      禅院宵宵叹孤影
      <br>
      仿似杜宇哀声泣血夜半鸣
      <br>
      隐居涧绝岭
      <br>
      菩堤伴我苦敲经唉
      <br>
      凡尘世俗那堪复听
      <br>
      情似烟轻禅心修佛性
      <br>
      梦幻已今朝醒
      <br>
      情根爱根恨根怨根
      <br>
      春花怕赋咏
      <br>
      情丝爱丝愁丝怨丝
      <br>
      秋月怕留情
      <br>
      情心早化灰 禅心经洁静
      <br>
      为爱为情恨似病
      <br>
      对花对月怀前程
      <br>
      徒追忆 花月证
      <br>
      情人负我变心负约太不应
      <br>
      相思当初枉心倾
      <br>
      怨句妹妹太薄幸
      <br>
      禅院钟声 深宵冷静
      <br>
      夜半有恨人已泪盈盈
      <br>
      为爱为情恨似病
      <br>
      对花对月怀前程
      <br>
      徒追忆 花月证
      <br>
      情人负我变心负约太不应
      <br>
      相思当初枉心倾
      <br>
      怨句妹妹太薄幸
      <br>
      禅院钟声 深宵冷静
      <br>
      夜半有恨人已泪盈盈
      <br>
      为爱为情恨似病
      <br>
      对花对月怀前程
      <br>
      徒追忆 花月证
      <br>
      情人负我变心负约太不应
      <br>
      相思当初枉心倾
      <br>
      怨句妹妹太薄幸
      <br>
      禅院钟声 深宵冷静
      <br>
      夜半有恨人已泪盈盈
      <br>
      为爱为情恨似病
      <br>
      对花对月怀前程
      <br>
      徒追忆 花月证
      <br>
      情人负我变心负约太不应
      <br>
      相思当初枉心倾
      <br>
      怨句妹妹太薄幸
      <br>
      禅院钟声 深宵冷静
      <br>
      夜半有恨人已泪盈盈
    </p>

  </div>



</div>



{% endblock %}
